.products-wrapper {
  display: flex;
  justify-content: space-between;
}
.products-wrapper .products-item {
  width: 23%;
}

.products-item img {
  width: 100%;
  height: 150px;
  padding: 2px;
  border: 1px solid #c0c0c0;
}

.product-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

button {
  width: 100%;
  display: block;
  padding: 7px;
  border: 0;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  background: #2a5ea5;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  letter-spacing: 1px;
  color: #fff;
  background: #000;
}

.product-info img {
  display: block;
  width: 40%;
  margin: 20px auto;
}
.product-info p {
  color: #2a5ea5;
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
}

.closeIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width: 780px) {
  .products-wrapper {
    display: flex;
    flex-direction: column;
  }
  .products-item img {
    width: 100%;
    height: 100px;
  }
}